@import "src/styles/vars";
.head {
  display: flex;
  gap: 20px;
}
.button {
  display: flex;
  padding: 17px 38px;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(157, 174, 198, 0.45);
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 40px;
  &:hover {
    background-color: $color-gray-hover;
  }
}
.btnText{
    padding-left: 10px;
}